*{
    margin: 0;
    font-weight: normal;
    /*border: solid 1px #000000;*/
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}
@font-face {
    /*para isso funcionar devemos ter o arquivo da fonte, pegar no Dafont ou outro site de fontes gratis;
    pegar o gerador web de fontes para transformar em arquivos e depois abrir um font fac3e pra cada fonte
    dentro do font face serve para inventar o nome que será usado por essa fonte*/
    font-family: "Allura-Regular";
    src: url(../imagens/Allura-Regular.ttf),
         url(../imagens/Allura-Regular.eot),
         url(../imagens/Allura-Regular.woff),
         url(../imagens/Allura-Regular.woff2),
         url(../imagens/Allura-Regular.sgv);   
    /*font-weight: normal;
    font-style: normal;
    font-display: swap;*/
}
h2{
    font-family: Allura-Regular;
}
.topo{
    max-width:768px;
    min-height: 300px;
    background-image: url(../imagens/topp.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    margin: 0 auto;
    min-height: 300px;
    /*justify-content: center;*/
}
.container>p{
    text-align: center;
}
.menu{
    display: flex;
    color: rgb(255, 255, 255);
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu ul li{
    margin-left: 10px;
}
.menu a{
    color: rgb(255, 255, 255);
    font-size: 12px;
}
.menu ul li:hover{
    text-decoration: underline;
}
.nomeempresa{
    margin-right: auto;
    font-size: 12px;
}
h1 , .nomeempresa , .menu, .section1 a, .section2 h2, .conteudo a {
    text-transform: uppercase;
}
.section1 .titulos, .section2 .titulos, .section4 .titulos2, h3{
    display: flex;
    flex-direction: column-reverse;
    /*justify-content: center;*/
    align-items: center;
}
.section3 .container{
    /*border: solid 1px blue;*/
    /*max-height: 200px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.section3 .titulos{
    flex-direction: column-reverse;
    /*border: solid 2px red;*/
    margin-bottom: 90px;
}
.topo .titulos{
    margin: 160px auto 0px auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
#logomarca{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section1{
    background-color: rgba (245, 245,245, 1);
}
.section1>.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section1 .leia, .section4 a {
    margin: 20px;
    padding: 10px;
    border: solid 0.5px rgba(230, 188, 145, 1);
}
.section1 .leia a{
    color: black;
}
.section1 h2, .section1 h1, .section1 p, #logomarca, .section1 .titulos{
    margin-bottom: 5px;
}
.produtos2 p {
    text-align: center;
}
.topo h2, .section1 h2, .section3 h2, .section4 h2{
    color: rgba(230, 188, 145, 1);
    font-size: 16px;
}
.topo h1, .section3 h1{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}
.section4 p, .section1 p{
    color: rgb(119, 119 ,119);
}
.section3{
    max-width:768px;
    background-image: url(../imagens/plantacao.jpg);
    background-position: center;
    max-height: 280px;
}
.lacticinios, .legumes, .paes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lacticinios>img, .legumes>img, .paes>img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px auto;
}
.section4 .container {
    display:flex;
    justify-content: center;
    align-items: center;    
}
.section4 .conteudo p, .section4 h2{
    margin-bottom: 15px;
    line-height: 1.5;
}
.section4 .titulos2{
    min-width: 50%;
}
.section4 h1, .section4 h2{
    min-width: 100%;
}
.section4 .conteudo{
    min-width: 50%;
    padding-left: 10px;
    padding-top: 0px;
}
.produtos2 a{
    color: black;
    margin: 10px;
    text-decoration: underline;
    font-weight: 600;
}
.section4 a{
    flex-wrap: nowrap;
    color: black;
    font-size: 8px;
}

@media (min-width:768px){

    .topo{   
        min-width:768px;
        max-width: 992px;
        min-height: 400px;
        /*max-height: 500px;*/
    }
    .topo .titulos{
        margin: 200px auto 0px auto;
    }
    .topo h2, .section1 h2, .section3 h2, .section4 h2{
        font-size: 20px;
    }
    .topo h1, .section3 h1{
        color: rgba(255, 255, 255, 1);
        font-size: 24px;
    }
    .container{
        max-width: 80%;
        padding-bottom: 100px;
    }
    .nomeempresa, menu ul li{
        font-size: 16px;
    }  
    .section3{
        min-width:768px;
        max-width: 100%;
    }
    .section4 a{
        font-size: 12px;
    }
}

@media (min-width:992px){

    .topo{   
        min-width: 992px;
        max-width: 1200px;
        min-height: 500px;
        /*max-height: 900px; */    
    }
    .topo .titulos{
        margin: 300px auto 0px auto;
    }
    .topo h2, .section1 h2, .section3 h2 .section4 h2{
        font-size: 24px;
    }
    .topo h1, .section3 h1{
        color: rgba(255, 255, 255, 1);
        font-size: 28px;
    }
    .container{
        max-width: 80%;
    }
    .section3{
        min-width: 992px;
        max-width: 100%;
    }
    .produtos2{
        display:flex;
        justify-content: space-between;
    }
}

@media (min-width:1200px){
    .topo {
        min-width: 1200px;
        max-width: 100%;
        min-height: 750px;
        background-position: top;
    }
    .topo .titulos{
        margin: 500px auto 0px auto;
    }
    .section3{
        min-width: 1200px;
        max-width: 100%;
    }
    .topo h1, .section3 h1{
        color: rgba(255, 255, 255, 1);
        font-size: 28px;
    }
    
}
